.alineacion {
    text-align: center;
}

.primeraParte, terceraParte{
    margin-top: 75px;    
    margin-bot: 25px;    
}
.segundaParte {
    margin-top: 30px;
}

.primeraPartev{
    margin-top: 25px;    

}
.mensaje {
    margin:15px;
}
.tablacentro {
    text-align: center;
}


#colorNegroborder {
    border-top:  1px solid rgb(33,37,41);
}




.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,300px));     
    grid-auto-rows: 300px;
    grid-gap: 50px 10%;
    padding: 10px;    
    justify-content: center;    
}

.grid-item {    
    border: 1px solid black;   
    display: grid;
    grid-template-rows: 180px auto auto; 
    border-radius: 8%;
    box-shadow: 3px 0px 20px black;

}

.grid-item:hover {
    transform: scale(1.1);
    transition: transform 0.2s linear;
}



.grid-contenido {
}

.sacudir:hover {
    
}

/*.noExistencias {
    background: url('../images/agotado.jpg');   
    background-repeat: no-repeat;        
    background-size: 300px 200px;
    background-position: left top;                    
}*/


* {
    box-sizing: border-box;
}

@media (max-width: 760px){
    .desaparece {        


    }
}

@media (max-width: 1200px){
    .desaparece {        
        visibility: hidden;
        display: none;

    }
}

