<header ng-include="'js/app/header.html'"></header>
<main role="main" class="container">

    <!--    <h3>Resultado de la llamada AJAX: {{ajaxData}}</h3>-->
    <div class="primeraParte"></div>
    <a href="javascript:window.history.back();"> <button class="btn btn-success" style="margin-bottom: 10px;"> Volver</button> </a>
    
    <form name="userForm" style="margin-bottom: 50px;" ng-show="!mensaje">
        <h3 style="text-align: center">Crear Tipo Usuario</h3>
<!--        <div class="form-group row">            
            <label for="id" class="col-2 col-form-label">ID</label>
            <div class="col-8">
                <input type="text" class="form-control" id="id" name="id" ng-disabled="true" ng-model="id" />
            </div>
        </div>-->

        <div class="form-group row">
            <label for="descripcion" class="col-2 col-form-label">Descripción</label>
            <div class="col-8">
                <input type="text" class="form-control" id="descripcion" name="descripcion" ng-model="desc" ng-required="true" ng-pattern="/^[a-zA-Z]*$/" placeholder="Dime un descripcion"/>
                <div ng-show="userForm.descripcion.$error.pattern" class="alert alert-danger" role="alert">
                    Descripcion no válida
                </div>
                
                <div ng-show="userForm.descripcion.$invalid && !userForm.descripcion.$pristine" class="alert alert-danger" role="alert">
                    Descripción obligatorio
                </div>
            </div>
        </div>



        <button ng-click="guardar()" type="button" class="btn btn-primary" ng-disabled="userForm.$invalid">Crear</button>
    </form>
    <div class="alert alert-success" ng-show="mensaje">
        Se ha creado el tipo {{ob}} con el id  {{id}} llamado "{{desc}}"
    </div>
</main>
<!--<footer class="footer" ng-include="'js/app/footer.html'"></footer>-->